@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("@/styles/variables.css");
@import url("@/styles/shiki.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
}

.home-content p {
  margin-top: 1.5em;
  line-height: 1.75em;
}

.home-content a {
  --tw-ring-color: hsl(
    var(--nextra-primary-hue) var(--nextra-primary-saturation) 50%/0.3
  );
  --tw-text-opacity: 1;
  text-underline-position: under;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  color: hsl(
    var(--nextra-primary-hue) var(--nextra-primary-saturation) 50% /
      var(--tw-text-opacity)
  );
}

figcaption {
  font-size: 0.85rem;
  line-height: 1.5rem;
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .home-content .hide-medium {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .home-content p {
    font-size: 0.9rem;
  }
  .home-content .hide-small {
    display: none;
  }
}

@keyframes flicker {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
}

.animate-flicker {
  animation: flicker 0.5s infinite;
}

.bg-preview-container {
  background-size:
    100% 100%,
    21px 21px,
    21px 21px;
}

.bg-preview-container-light {
  background-image: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.7) 20%,
      rgba(240, 240, 240, 0.5) 40%,
      rgba(220, 220, 220, 0.3) 60%,
      rgba(200, 200, 200, 0.1) 80%,
      rgba(180, 180, 180, 0.05) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(240, 240, 240, 0.3),
      rgba(220, 220, 220, 0.3)
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 20px,
      rgba(0, 0, 0, 0.08) 20px,
      rgba(0, 0, 0, 0.08) 21px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 20px,
      rgba(0, 0, 0, 0.08) 20px,
      rgba(0, 0, 0, 0.08) 21px
    );
  background-blend-mode: overlay, normal, normal, normal;
}

.dark .bg-preview-container-light {
  background-image: radial-gradient(
      circle at center,
      rgba(50, 50, 50, 0.4) 0%,
      rgba(30, 30, 30, 0.6) 30%,
      rgba(10, 10, 10, 0.8) 60%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 20px,
      rgba(250, 250, 250, 0.08) 20px,
      rgba(250, 250, 250, 0.01) 21px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 20px,
      rgba(250, 250, 250, 0.08) 20px,
      rgba(250, 250, 250, 0.01) 21px
    );
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.shiki {
  border-radius: 0.75rem;
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.circular-gradient {
  background: radial-gradient(
    circle,
    rgba(59, 130, 246, 0.8) 0%,
    rgba(59, 130, 246, 0.6) 50%,
    rgba(59, 130, 246, 0.2) 100%,
    rgba(59, 130, 246, 0) 70%
  );
  filter: blur(500px);
}

.separator {
  display: flex;
  align-items: center;
}

.separator::before,
.separator::after {
  flex-grow: 1;
  border: 0;
  border-top: 1px solid;
  content: "";
}

.dark .separator::before,
.dark .separator::after {
  border-color: rgba(255, 255, 255, 0.3);
}

.separator::before,
.separator::after {
  border-color: rgba(0, 0, 0, 0.3);
}

.separator > * {
  flex-shrink: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #9ca3af;
}

.card-inner-shadow {
  box-shadow: inset 0 0 10px rgba(126, 126, 126, 1);
}

.gradient-border {
  position: relative;
  padding: 1px;
  background: linear-gradient(90deg, #ff5733, #ffc300, #daf7a6);
}

.gradient-border-inner {
  background-color: white;
  border-radius: inherit;
  overflow: hidden;
  padding: 1rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.component-description {
  opacity: 0.8;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

code {
  counter-reset: step;
  counter-increment: step 0;
  box-decoration-break: slice;
  font-feature-settings:
    "rlig" 1,
    "calt" 1,
    "ss01" 1;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: #6a7280;
}

code[data-line-numbers] > .line {
  padding-left: 0.5rem;
}

code[data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  height: 100%;
  float: left;
  padding-right: 1rem;
  text-align: right;
  min-width: 2.6rem;
  color: #6b7280;
}

code .line.highlighted {
  background-color: rgba(59, 130, 246, 0.1);
  color: rgba(59, 130, 246, 0.5);
  box-shadow: 2px 0 currentColor inset;
}

code .line .highlighted {
  border-radius: 0.125rem;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: rgba(30, 64, 175, 0.1);
  box-shadow: 0 0 0 2px rgba(30, 64, 175, 0.1);
}

.dark code .line .highlighted {
  background-color: rgba(147, 197, 253, 0.1);
  box-shadow: 0 0 0 2px rgba(147, 197, 253, 0.1);
}

pre {
  contain: paint;
}

pre code {
  display: grid;
  min-width: 100%;
  border-radius: 0;
  border: none;
  background-color: transparent !important;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: currentColor;
}

pre code .line {
  padding-left: 1rem;
  padding-right: 1rem;
}

pre:not([data-theme]) {
  padding-left: 1rem;
  padding-right: 1rem;
}

html[data-nextra-word-wrap] pre {
  word-break: break-word;
  white-space: pre-wrap;
}

@media (min-width: 768px) {
  html[data-nextra-word-wrap] pre {
    white-space: pre;
  }
}

html[data-nextra-word-wrap] pre .line {
  display: inline-block;
}

pre .nextra-copy-icon {
  animation: fade-in 0.3s ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  .nextra-button {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.85);
  }

  .dark .nextra-button {
    background-color: rgba(17, 17, 17, 0.8);
  }
}
