:root {
  --nextra-primary-hue: 230;
  --nextra-primary-saturation: 100%;
}

/* Override Nextra's default colors with your specific color */
.nx-text-primary-600 {
  color: #5271ff !important;
}

.nx-border-primary-500 {
  border-color: #5271ff !important;
}

.nx-bg-primary-500 {
  background-color: #5271ff !important;
}

/* You may need to add more color overrides depending on your specific use case */

.nx-text-primary-600:hover {
  text-decoration: none;
}

.nx-bg-primary-500:hover {
  text-decoration: none;
}

/* Styles for the selected item in the sidebar */
.nx-text-primary-600,
.nx-text-primary-700,
.nx-text-primary-800,
.nx-text-primary-900,
li.nx-active > a,
li.nx-active > a:hover {
  color: #5271ff !important;
  font-weight: 700;
}

/* Styles for the sidebar item hover state */
/* .nx-text-gray-600:hover, */
/* .nx-text-gray-700:hover, */
/* .nx-text-gray-800:hover, */
/* .nx-text-gray-900:hover { */
/*   color: #5271ff !important; */
/* } */

/* Style for the small colored line next to the selected item */
li.nx-active > a::before {
  background-color: #5271ff !important;
  font-weight: 700;
}

/* If there's a background color for the active item, target it like this */
li.nx-active {
  background-color: rgba(
    82,
    113,
    255,
    0.1
  ) !important; /* Semi-transparent version of your color */
}
